._*
*.o
*.in
*.la
*.lo
*.cgi
.deps
.libs
build-arch-stamp
build-indep-stamp
comp128
configure-stamp
debian/debhelper.log
debian/files
debian/substvars
debian/tmp/
sipauthserve
Makefile
aclocal.m4
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
