._*
*.a
*.o
*.la
*.lo
.deps
.libs
Makefile
Makefile.in
depcomp
install-sh
missing
aclocal.m4
autom4te.cache/
build-arch-stamp
build-indep-stamp
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure-stamp
debian/debhelper.log
debian/files
debian/substvars
debian/tmp/
debian/sipauthserve.debhelper.log
debian/sipauthserve.substvars
debian/sipauthserve/
config.h.in~
libtool
ltmain.sh
stamp-h1
apps/comp128
apps/sipauthserve
apps/subscriberRegistry.example.sql
apps/sipauthserve.example.sql
sipauthserve.example.sql
package/tmp
