Source: sipauthserve
Section: comm
Priority: optional
Maintainer: Endaga, Inc. <hello@endaga.com>
Homepage: http://www.endaga.com/
Build-Depends: build-essential, debhelper (>= 7), libsqlite3-dev, libosip2-dev, pkg-config, autoconf, libtool, libzmq3-dev, libzmq3, libcoredumper1, libcoredumper-dev, sqlite3
Standards-Version: 3.7.3

Package: sipauthserve
Provides: sipauthserve
Section: comm
Priority: optional
Architecture: any
Essential: no
Depends: sqlite3, libosip2-4, libc6, pkg-config, libzmq1, supervisor
Description: Endaga - SIP Authorization Server

